<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AmazingTodoContext"
         connectionString="Server=c345d328-319f-422c-9755-a1f601536643.sqlserver.sequelizer.com;Database=dbc345d328319f422c9755a1f601536643;User ID=uyrjmyncmnojytyd;Password=W6cxxaPvbimTLTP4jV7dWXaPi3S5NHvtg6xNo7KVstuvUUCRYNmmV3s75vpDpSPA;" />
  </connectionStrings>
</configuration>
